.wrapper {
  background-color: rgb(246, 243, 243);
  width: 290px;
  padding: 20px 10px;
  border-radius: 5px;
  height: 100vh;
}
.board_title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.board_header {
  font-weight: 600;
  font-size: 13px;
  color: rgb(95, 94, 94);
}
.board_header span {
  color: rgb(189, 187, 187);
}
.card-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 20px;
}
.board_header_title_more {
  cursor: pointer;
  position: relative;
}
.board_dropdown {
  box-shadow: 1px 0px 20px rgba(0, 0, 0, 0.12);
  padding: 10px;
  width: 150px !important;
  cursor: default;
}
.board_dropdown p {
  cursor: pointer;
}
.board_dropdown p:hover {
  background-color: lightgray;
}
