.cards {
  width: 100%;
  /* margin: 10px; */
  padding: 10px;
  background-color: rgb(255, 255, 255);
  height: fit-content;
  cursor: pointer;
}
.effort-estimation {
  width: 18px;
  height: 18px;
  border-radius: 50%;
  background-color: rgb(179, 177, 177);
  display: flex;
  align-items: center;
  justify-content: center;
}
.assignee {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: rgb(192, 183, 20);
  display: flex;
  align-items: center;
  justify-content: center;
}
.card-details {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 10px;
}
.other-details {
  display: flex;
  gap: 5px;
  align-items: center;
  justify-content: center;
}
.card-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.type {
  padding-top: 5px;
}
.card_header {
  cursor: pointer;
  position: relative;
}
.board_dropdown {
  box-shadow: 1px 0px 20px rgba(0, 0, 0, 0.12);
  padding: 10px;
  width: 150px !important;
  cursor: default;
}
.board_dropdown p {
  cursor: pointer;
  padding: 5px;
}
.board_dropdown p:hover {
  background-color: lightgray;
}
