* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}
.app {
  height: 100vh;
  display: flex;
  flex-direction: column;
}
.navbar {
  width: 100%;
  padding: 20px 30px;
  border-bottom: 1px solid rgb(61, 59, 59);
}
.boards_container {
  flex: 1;
  width: 100%;
  height: 100%;
  overflow-x: auto;
  padding-top: 20px;
}
.boards {
  height: 100%;
  width: fit-content;
  padding: 10px;
  display: flex;
  gap: 10px;
}
.add-column-btn {
  border: none;
  background-color: rgb(5, 111, 218);
  width: 120px;
  height: 30px;
  padding: 2px;
  color: #fff;
  text-align: center;
  margin: 20px;
}
.add-column-btn:hover {
  background-color: rgb(9, 70, 131);
  cursor: pointer;
}
.modal-header {
  font-size: 15px;
  font-weight: 600;
  margin-bottom: 10px;
}

.modal-cross {
  position: absolute;
  top: 5px;
  right: 5px;
  cursor: pointer;
}
.modal-input {
  width: 100%;

  margin-bottom: 10px;
  padding: 10px;
}
.modal-btn {
  border: none;
  background-color: rgb(12, 112, 9);
  width: 100%;
  height: 30px;
  padding: 2px;
  color: #fff;
  text-align: center;
}
.modal-btn:hover {
  background-color: rgb(17, 148, 12);
  cursor: pointer;
}
.innercontent {
  display: flex;
  height: 80%;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
