.modal {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  min-height: 100vh;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.46);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 20;
}
.modal-content {
  background-color: #fcf7f7;
  position: relative;
  overflow-y: auto;
  width: max-content;
  height: max-content;
  padding: 20px;
  border-radius: 3px;
  z-index: 30;
  /* box-shadow: 1px 1px 20px rgba(0, 0, 0, 0.12); */
}
.modal-header {
  font-size: 15px;
  font-weight: 600;
  margin-bottom: 10px;
}

.modal-cross {
  position: absolute;
  top: 5px;
  right: 5px;
  cursor: pointer;
}
.modal-input {
  width: 100%;
  margin-bottom: 10px;
  padding: 10px;
}
.modal-btn:hover {
  background-color: rgb(17, 148, 12);
  cursor: pointer;
}
.innercontent {
  display: flex;
  height: 80%;
  align-items: start;
  justify-content: center;
  flex-direction: column;
}
.priority-label-wrapper {
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: center;
}
