.modal {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  min-height: 100vh;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.46);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 20;
}
.modal-content {
  background-color: #fcf7f7;
  position: relative;
  overflow-y: scroll;
  width: max-content;
  top: 2%;
  bottom: 2%;
  max-height: 90vh;
  padding: 20px;
  border-radius: 3px;
  z-index: 30;
  /* box-shadow: 1px 1px 20px rgba(0, 0, 0, 0.12); */
}
.modal-header {
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 10px;
  text-align: center;
}

.modal-cross {
  position: absolute;
  top: 10px;
  right: 7px;
  cursor: pointer;
}
.modal-input {
  width: 80vh;
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid rgb(182, 180, 180);
}
.modal-btn {
  border: none;
  background-color: rgb(12, 112, 9);
  width: 100%;
  height: 30px;
  padding: 2px;
  color: #fff;
  text-align: center;
}
.modal-btn:hover {
  background-color: rgb(17, 148, 12);
  cursor: pointer;
}
.innercontent {
  display: flex;
  height: 80%;
  align-items: start;
  justify-content: center;
  flex-direction: column;
}
.priority-label-wrapper {
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: center;
}
/* .description {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
} */
.input-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 8px;
}
